@charset "UTF-8";

body{
    background-color: #E3D3C4;
    font: normal 1em Arial, helvetica, sans-serif;
}

#titulo-principal{
    text-align: center;
    background-color: #915f5f4b;
    font-weight: bolder;
}

.topico{
    font-size: 2.5em;
    text-indent: 30px;
}

.assunto{
    font-size: 1.5em;
    text-align: right;
    color: #67151B;
}

.texto{
    text-align: justify;
}